spring:
  application:
    name: Generator


logging:
  level:
    org.springframework.security: TRACE

microservices:
  baseUrl: ${BASE_URL}

web:
  client:
    retry: 300
    max-attempts: 3
server:
  port: 9988